@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
    background-color: #EDE8D5  !important;
    font-family: 'Ubuntu' , sans-serif !important;
}
.contact-img{
    height: 200px;
    width: 200px;
}